---
interface Props {
  btnContent: string;
  href: string;
  class?: string;
  cntClass?: string;
  extraClass?: string;
  aStyle?: string;
}
const { btnContent, href, class: extraClass, cntClass = "text-(--color-primary)", aStyle, ...props } = Astro.props;
---

<a href={href} class={`cta ${extraClass}`} aria-label={btnContent} style={aStyle} {...props}>
  <span class=`cta-content ${cntClass}`>{btnContent}</span>
</a>
