---
import { SOCIAL_LINKS } from "../../consts";

import HeaderLink from "../utilities/HeaderLink.astro";
import SearchInput from "./SearchInput.astro";
import Icon from "../utilities/Icon.astro";

import type { HTMLAttributes } from 'astro/types';

type Props = {
  class?: HTMLAttributes<'ul'>['class'];
  showSearch?: boolean;
};

const { class: className, showSearch = false } = Astro.props;
---

<div class={className} aria-label="Social media e ricerca" role="navigation">
    {showSearch && <SearchInput />}

    {SOCIAL_LINKS.map((link, index) => (
        <HeaderLink href={link.href} aria-label={link.label} title={link.title} target={link.target} rel={link.rel}>
            <Icon name={link.icon} class="w-5 h-5 icon" />
        </HeaderLink>
    ))}
</div>
