---
import CtaButton from "./CtaButton.astro";

const { sectionId, sectionAriaLabelledby, sectionRole, sectionClass, divClass, divAriaLabelledby, divId, href, bntAriaLabel, h2, h2Class, btnContent, ...props } = Astro.props;
---

<section id={sectionId} aria-labelledby={sectionAriaLabelledby} role={sectionRole} class={sectionClass} {...props}>
  <h2 class={h2Class} id={sectionAriaLabelledby}>{h2}</h2>

  <div class=`${divClass}` aria-labelledby={divAriaLabelledby} id={divId}>
    <slot />

    <CtaButton href={href} btnContent={btnContent} ariaLabel={bntAriaLabel} class="flex items-center justify-center" />
  </div>

</section>